@import "tailwindcss";

html,
body,
#root{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    font-family:Inter,sans-serif;
    background:#0f172a;
}

body{
    color:white;
}

.glass{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
}